<article class="max-w-5xl mx-auto px-3">
    <header class="mx-auto max-w-3xl text-center content">
        <h1>{{ title }}</h1>

        <hr class="mb-8" />

        <section class="p-16 mb-8">
          <ul>
            {{ assets }}
            <li>{{ title }}</li>
            {{ /assets }}
          </ul>
        </section>

        <hr class="mb-8" />

        <section class="p-16 mb-8">
          <ul>
            {{ assets limit="2" }}
            <li>{{ title }}</li>
            {{ /assets }}
          </ul>
        </section>

        <hr class="mb-8" />
    </header>
</article>
